
<h1>Restaurants</h1>
<ul><% @restaurants.each do |restaurant| %>
  <li> <%= link_to restaurant.name, restaurant %> <%= link_to  restaurant_path(restaurant), method: :delete, data: { confirm: "Are you sure?" } do %><i class="far fa-trash-alt"></i><% end %></li>
  <hr>
  <% end %>
</ul>
<%= link_to "Add a new restaurant", new_restaurant_path %>

